.btn-primary {
  background: linear-gradient(
    135deg,
    var(--primary-light),
    var(--primary-dark)
  );
  border: none;
  min-width: 100px;
}

.btn-primary:hover {
  filter: brightness(130%);
  border: none;
}
