:root {
    --good-match: #00c853;
    --okay-match: #f9a620;
    --bad-match: #de1a1a;
}




tr.selected {
    background-color: var(--good-match);
}

th {
    text-align: center;
}

tbody {
    text-align: center;
}

