.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: raleway;
  color: #ffff;
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
}

h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 80px;
}

h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

button.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #333;
  font-size: 22px;
  cursor: pointer;
}

button:hover {
  background-color: #292929;
}

.bman-container {
  position: absolute;
  width: 180px;
  height: 250px;
  right: 250px;
  top: 64px;
}

.bman {
  width: 100%;
  height: 100%;
  background: url('landingimages/bman.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.hajia-container {
  position: absolute;
  width: 180px;
  height: 250px;
  right: 25px;
  top: 113px;
}

.hajia {
  width: 100%;
  height: 100%;
  background: url('landingimages/hajia.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.richman-container {
  position: absolute;
  width: 180px;
  height: 250px;
  right: 250px;
  top: 336px;
}

.richman {
  width: 100%;
  height: 100%;
  background: url('landingimages/richman.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.suitman-container {
  position: absolute;
  width: 180px;
  height: 250px;
  right: 25px;
  top: 382px;
}

.suitman {
  width: 100%;
  height: 100%;
  background: url('landingimages/suitman.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
